Makefile
*.in
*.o
*.lo
*.la
.libs
.deps
*.swp
*.png
*.dat

aclocal.m4
autom4te.cache/
compile
config.guess
config.h
*.in*

config.log	
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
